body{
  margin: 0 auto;
  overflow: auto;
  background-color: #bac3c4;
  text-align: center;
  width: 900px;
}

p{
  margin: 0 auto;
}

hr{
 border: dotted #557d82 6px;
 border-bottom: none;
 width: 4%;
 margin: 100px auto;
}

.top-container{
  text-align: center;
  position: relative;
  padding-top: 50px;
}

.middle-container{
  margin-top: 50px;
}

.bottom-container{
  margin-top: 30px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
}

.skill-row p {
  text-align: left;
  line-height: 2;
}

.kratos-profile{
  margin-top: 60px;
  width: 110px;
  height: 130px;
  border-radius: 10px;
}

.bladesOfChaosTop{
  width: 150px;
  position: absolute;
  right: 140px;
  top: 20px;
}

.bladesOfChaosBottom{
  transform: rotate(360deg) scaleX(-1);
  width: 150px;
  position: absolute;
  top: 440px;
  left:140px;
}

.gow-front{
  width: 150px;
}

.army{
  width: 110px;
  height: 130px;
  border-radius: 10px;
  float: right;
  margin-left: 10px;
}

.atlas-quake{
  width: 110px;
  height: 130px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}

.mountain{
  position: absolute;
  width: 600px;
  z-index: -1;
  right: 150px;
  top: 165px;
  margin-right: auto;
}

.contact a{
  text-decoration: none;
  color: black;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
